rag/
.idea/
.env
db.sqlite3
**/__pycache__/
open_db.bat

eval_master/__pycache__
evaluation_core/__pycache__
evaluation_core/migrations/__pycache__

prompt_eval/__pycache__
prompt_eval/migrations
prompt_eval/models/__pycache__
prompt_eval/services/__pycache__

rag_eval/__pycache__
rag_eval/migrations
rag_eval/models/__pycache__
rag_eval/services/__pycache__

tests/__pycache__
tests/test_models/__pycache__
tests/test_services/__pycache__
tests/test_views/__pycache__

evaluated/2025/04/15
rag_eval/migrations
rag_eval/services/__pycache__
evaluated
